* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Google Sans', Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}